<% content_for :title do %>Sign Up at VinCompare<% end %>
<% content_for :description do %>Join us in our fight again vehicle fraud<% end %>
<main role="main">
  <div class="container">
    <%= form_for @user do |f| %>
      <%= f.label :email %>
      <%= f.email :email %><br>
      
      <%= f.label :password %>
      <%= f.password :password %><br>
      
      <%= f.submit %>
    <% end %>      
  </div>
</main>


