<table class="table table-stripped table-hover table-bordered">
  <thead>
  <tr>
    <th></th>
    <th>FastVIN</th>
    <th>AutoCheck</th>
    <th>CarFax</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Vehicle Specifications</td>
    <%= render :partial => 'all_check_ok' %>
  </tr>
  <tr>
    <td>Title Information</td>
    <%= render :partial => 'all_check_ok' %>
  </tr>
  <tr>
    <td>Junk/Salvage/Insurance</td>
    <%= render :partial => 'all_check_ok' %>
  </tr>
  <tr>
    <td>Brand Information</td>
    <%= render :partial => 'all_check_ok' %>
  </tr>
  <tr>
    <td>Airbag Deployment</td>
    <%= render :partial => 'all_check_ok' %>
  </tr>
  <tr>
    <td>Fleet/Rental/Lease</td>
    <td></td>
    <td><span class="glyphicon glyphicon-ok text-info"></span></td>
    <td><span class="glyphicon glyphicon-ok"></span></td>
  </tr>
  <tr>
    <td>Police Records</td>
    <td></td>
    <td><span class="glyphicon glyphicon-ok text-info"></span></td>
    <td><span class="glyphicon glyphicon-ok"></span></td>
  </tr>
  <tr>
    <td>Auto Auction</td>
    <td></td>
    <td><span class="glyphicon glyphicon-ok text-info"></span></td>
    <td><span class="glyphicon glyphicon-ok"></span></td>
  </tr>
  <tr>
    <td>Loan/Lien</td>
    <td></td>
    <td><span class="glyphicon glyphicon-ok text-info"></span></td>
    <td><span class="glyphicon glyphicon-ok"></span></td>
  </tr>
  <tr>
    <td>Police Case #</td>
    <td></td>
    <td><span class="glyphicon glyphicon-ok text-info"></span></td>
    <td></td>
  </tr>
  <!--<tr>-->
    <!--<td>Number of Records</td>-->
    <!--<td></td>-->
    <!--<td></td>-->
    <!--<td></td>-->
  <!--</tr>-->
  <tr>
    <td>Unlimited Reports</td>
    <td></td>
    <td><span class="glyphicon glyphicon-ok text-info"></span></td>
    <td></td>
  </tr>
  <tr>
    <td>Price</td>
    <td>$12.95</td>
    <td>$29.99</td>
    <td>$39.99</td>
  </tr>
  <tr>
    <td>Get More Info</td>
    <td><button type="button" class="btn btn-primary btn-block">Check</button></td>
    <td><button type="button" class="btn btn-primary btn-block">Check</button></td>
    <td><button type="button" class="btn btn-primary btn-block">Check</button></td>
  </tr>
  </tbody>
</table>