<!DOCTYPE html>
<html lang="en">
<%= render 'layouts/head' %>

<body>
  <% if current_page?('/') %>
    <%= render 'layouts/messages' %>
    <%= render 'layouts/landing' %>
  <% else %>    
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/messages' %>
  <% end %>  

<%= yield %>

<%= render 'layouts/footer' %>
</body>
</html>
